<div class='content Contact Content' style='display:none'>
	<div class='panel'>
		<div class='set-wrapper'>
			<div class='set contact'>
				
				<div class='contact'>
					<div class='form' >
						<h1 class='head'>
							Contact
						</h1>
						<div class='directive'>
							I would be glad to answer any questions you may have.  Please provide the following information and lets talk!
						</div>
						<div class='body'>
							<div class='section Name'>
								<span class='label name Label'>Name:</span>
								<input type='text' class='name Input' />
							</div>
							<div class='section Email'>
								<span class='label email Label'>Email:</span>
								<input type='text' class='email Input' />
							</div>
							<div class='section Cell'>
								<span class='label cell Label'>Cell:</span>
								<input type='text' class='cell Input' />
							</div>
							<div class='section note Note'>
								<span class='label note Label'>Memo:</span>
								<textarea class='note Input'></textarea>
							</div>
							<div class='section send'>
								<a class='send Send' href='#'>Submit</a>
							</div>
						</div>
					</div>
					<div class='confirmation'>
						<div class='links'>
							<span class='close Close'>Close</span>	
						</div>
						<div class='declarative'>The following was sent to Anna Andreyev</div>
						<table class='info-collection'>
							<tr class='section name'>
								<td class='label'>Name:</td>
								<td class='info'>Foo Foomavich</td>
							</tr>
							<tr class='section email'>
								<td class='label'>Email:</td>
								<td class='info'>foo@yahoo.com</td>
							</tr>
							<tr class='section cell'>
								<td class='label'>Cell:</td>
								<td class='info'>972-984-8547</td>
							</tr>
							<tr class='section note'>
								<td class='label'>Note:</td>
								<td class='info'>Love the site!  It's simple and good looking.</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>