<div class='gallery gallery-transition Content Gallery'>

  <div class='first-header'>
    <div class='logo'></div>
    <ul class='navigations Navs'>
      <li class='nav-location' data-nav='home'>Home</li>
      <li class='nav-location selected' data-nav='gallery'>Gallery</li>
      <li class='nav-location' data-nav='information'>Information</li>
      <li class='nav-location last' data-nav='contact'>Contact</li>
    </ul>
  </div>
  <div class='second-header'>
    <div class='title'>Gallery</div>
    <ul class='selections GallerySelections'>
      
    </ul>
  </div>
  
  <div class='photo-system'>
    <ul class='photo-container PhotoContainer'>

      <li class='clear'></li>
    </ul>
  </div>
  
  <div class='to-top to-top-transition'>
    <div class='background'></div>
    <div class='dashes'></div>
    <div class='label'>
      <span class='sim'>^</span>
    </div>
  </div>
  
</div>

<ul class='PhotoMemberHTML hidden'>
    <li class='member Member'>
      <a class='frame Frame'>
		<div class='Setting'>
			<img class='img Img'/>
		</div>
      </a>
    </li>  
</ul>

<ul class='GalleryButtonHTML hidden'>
  <li class='selection'></li>
</ul>

<form class='hidden'>
  <input id='GalleryData' type='hidden' value='<%- imageData %>' />
</form>

<div class='gallery-lid'></div>

<div class='gallery-frame GalleryFrame'>
	<div class='background'></div>
	<div class='setting'>
		<img class='img1 img' />
		<img class='img2 img' />
	</div>	
	<div class='prev'>Previous</div>
	<div class='next'>Next</div>
</div>