<div id='left'>
  
	<div class='setting'>
	
		<div class='left-texture'></div>
		<div class='left-border'></div>
		<div class='left-light'></div>
		
		<ul class='menu Menu' >
			<li class='category-item'>
				<a class='label Home' hred='#' data-category='home'>
					<div class='label' ><span></span>Home</div>
					<div class='description'>photography by Anna Andreyev</div>
				</a>
			</li>
			<li class='category-item'>
				<a class='label Gallery' hred='#' data-category='gallery'>
					<div class='label' ><span></span>Gallery</div>
					<div class='description'>portraits, weddings, albums, and invitations</div>
				</a>
			</li>
			<li class='category-item'>
				<a class='label Information' hred='#' data-category='information'>
					<div class='label' ><span></span>Information</div>
					<div class='description'>pricing, services, and locations</div>
				</a>
			</li>
			<li class='category-item'>
				<a class='label Contact' hred='#' data-category='contact'>
					<div class='label' ><span></span>Contact</div>
					<div class='description'>get in touch</div>
				</a>
			</li>
		</ul>
	</div>
	<%- gallery %>
</div>