<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ratchet</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="/css/ratchet.css"/>
	<link rel="stylesheet" href="/css/top.css"/>
	<link rel="stylesheet" href="/css/panel.css"/>

    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="img/apple-touch-icon-512x512.png">
  </head>
  <body ontouchstart="">

    <div class="content">
		<div class='content Home Content'>
			<div class='panel'>
				<div class='set-wrapper'>
					<div class='set'>
						<div class='home'>
							<img class='theme-image' src='http://lorempixum.com/200/422/food' width='200' height='422'/>
						
							<div class='text'>
								<h1 class='head'>
									About Me
								</h1>
								<div class='body'>
									Lifetime Memories began out of my passion for photography.&nbsp;&nbsp;My mission is to bring your images to life and preserve Lifetime Memories through creative and unique designs with quality and integrity at reasonable rates, while maintaining a high, moral work ethic based on Christian values.
									<br /><br />
									I reside in McKinney, TX with my husband who is the inspiration for a lot of my work.&nbsp;&nbsp;I graduated from Dallas Baptist University with an MBA in Marketing.&nbsp;&nbsp;I shoot exclusively in digital and am aslo proficient in Adobe Photoshop.&nbsp;&nbsp;I serve clients in the DFW area, but also love traveling so please don't hesitate to ask me about destination details.
									<br /><br />
									I absolutely enjoy what I do, and I do it with lots of creativity.&nbsp;&nbsp;Your life's captured moments are sure to create memories that will last a lifetime.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </body>
</html>
